/* 
Aligning this element to middle screen just to ensure they work
*/

#controls-container{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 0;
}

#controls{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.control{
	padding: 12px 24px;
	font-size: 22px;
}


/* 
Test styles end
*/

body{
	background-color: #eeeeee;
}

#sidepanel{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(22, 28, 31, .5);
}

#sidepanel-empty{
	width: 60%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}

#sidepanel-content{
	position: absolute;
	right: -40%;
	width: 40%;
	bottom: 0;
	top: 0;
	background-color: #E0E0E0;
	transition-timing-function: linear;
	transition-property: right;
	transform-origin: left;
	transition-duration: .3s;
	transition-delay: .1s;
}

#sidepanel-closer{
	font-size: 32px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

button{
	background-color: #1E88E5;
	color: #ffffff;
	font-size: 18px;
	padding: 8px auto;
	border: 0;
}

button:hover {
	background-color: #1976D2;
}

#note-pad, #todo-list{
	display: none;
	width: 90%;
	max-width: 600px;
	margin: 16px auto;
}

#title-bar, #todo-header{
	display: flex;
	margin-bottom: 7px;
}

#note-title, #todo-text{
	width: 85%;
	display: inline-block;
	padding: 8px;
	font-size: 18px;
	border: 0;
	color: #848484;
}

#note-title:focus, #todo-text{
	color: #000;
}

#note-save-button{
	width: 15%;
}

#note-text{
	width: 100%;
	display: block;
	padding: 4px;
	font-size: 16px;
	border: 0;
	height: 70vh;
	overflow: auto;
	color: #848484;
	resize: none;
}

#note-text:focus{
	color: #000;
}

#info-box{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	background-color: rgba(22, 28, 31, .5);
}

#info-card{
	width: 50%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#info-title{
	border-bottom: 1px solid #E0E0E0;
	padding: 16px;
	text-align: center;
}

#info-body{
	border-bottom: 1px solid #E0E0E0;
	padding: 32px 16px;
	text-align: justify;
}

#info-actions{
	padding: 16px;
	text-align: right;
}

.inline-block{
	display: inline-block;
}

.info-action{
	padding: 8px 16px;
}

#todo-save-button{
	width: 15%;
	padding: 8px auto;
}

#todos-container{
	padding: 16px 0;
	background-color: #f8f8f8;
	color: #000;
}

.todo{
	position: relative;
	font-size: 20px;
	padding: 0 16px;
	display: block;
	margin-bottom: 2px;
}

.todo > input{
	vertical-align: middle;
}

.todo-done{
	text-decoration: line-through;
	color: #848484;
}

.todo-done{
	text-decoration: line-through;
}

.todo-remover{
	position: absolute;
	right: 16px;
	cursor: pointer;
	display: inline-block;
}

#todo-editor-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(22, 28, 31, .5);
}

#todo-editor {
	text-align: right;
	width: 50%;
	background-color: #fff;
	padding: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#todo-editor h3{
	text-align: center;
	margin-bottom: 24px;
}

#todo-editor > input{
	display: block;
	width: 100%;
	padding: 12px;
	border: 1px solid #e0e0e0;
	font-size: 18px;
	margin-bottom: 16px;
}

#todo-editor > button{
	padding: 10px 16px;
}

.todo-editor-closer:hover{
	background-color: #424242;
}

.todo-editor-closer{
	background-color: #616161;
}

/* small screens */

@media (min-width: 576px) {
	/* styles here */
}

/* medium screens */

@media (min-width: 768px) {
	/* styles here */
}

/* large screens */

@media (min-width: 992px) {
	/* styles here */
}
