body{
	background-color: #eeeeee;
}

button{
	background-color: #1976D2;
	color: #ffffff;
	font-size: 18px;
	padding: 8px auto;
	border: 0;
}

#note-pad{
	width: 75%;
	max-width: 600px;
	margin: 16px auto;
}

#title-bar{
	display: flex;
	border-bottom: 1px solid black;
}

#note-title{
	width: 90%;
	display: inline-block;
	padding: 8px;
	font-size: 18px;
	border: 0;
	color: #848484;
}

#note-title:focus{
	color: #000;
}

#save-button{
	width: 10%;
}

#note-text{
	width: 100%;
	display: block;
	padding: 4px;
	font-size: 16px;
	border: 0;
	height: 70vh;
	overflow: auto;
	color: #848484;
}

#note-text:focus{
	color: #000;
}

#info-box{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	background-color: rgba(22, 28, 31, .5);
}

#info-card{
	width: 50%;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#info-title{
	border-bottom: 1px solid #E0E0E0;
	padding: 16px;
	text-align: center;
}

#info-body{
	border-bottom: 1px solid #E0E0E0;
	padding: 32px 16px;
	text-align: justify;
}

#info-actions{
	padding: 16px;
	text-align: right;
}

.inline-block{
	display: inline-block;
}

.info-action{
	padding: 8px 16px;
}

/* small screens */

@media (min-width: 576px) {
	/* styles here */
}

/* medium screens */

@media (min-width: 768px) {
	/* styles here */
}

/* large screens */

@media (min-width: 992px) {
	/* styles here */
}
