<!DOCTYPE html>
<html lang="en" ng-app="angulo">
  <head>
    
    <title>Angulo</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/vendor/nvk.colors.min.css">
    <link rel="stylesheet" href="css/master.css">

  </head>
  <body>

    <h1 style="color: #fff; background-color: #1E88E5;text-align: center;">Angulo v1.0.0</h1>

    <div id="controls-container" ng-controller="BehaviorController">
      <div id="controls">
        <button class="control" ng-click="openNotePad()">Open Note Pad</button>
        <button class="control" ng-click="openTodoList()">Open TODO List</button>
      </div>
    </div>

    <div id="sidepanel">
      <div id="sidepanel-empty"></div>
      <div id="sidepanel-content">
        <span id="sidepanel-closer">&times;</span>
        
        <ng-include src="'notepad.html'"></ng-include>
                
        <ng-include src="'todo.html'"></ng-include>

      </div>
    </div>

    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script type="text/javascript" src="js/angulo.js"></script>
    <script type="text/javascript" src="js/BehaviorController.js"></script>
    <script type="text/javascript" src="js/NotePadController.js"></script>
    <script type="text/javascript" src="js/TodoListController.js"></script>

  </body>
</html>