<div ng-controller="TodoListController" id="todo-list">
    <h3>TODO List</h3>
    <form ng-submit="saveTodo()" id="todo-header">
        <input type="text" autofocus ng-model="todoText" id="todo-text">
        <button id="todo-save-button" ng-click="saveTodo()">Save</button>
    </form>
    <div id="todos-container">
        <ul class="todo-list">
            <li ng-repeat="todo in todos" class="todo">
                <input type="checkbox" ng-model="todo.done" id="todo{{todo.id}}"><label class="todo-{{todo.done ? '' : 'un'}}done" ng-dblclick="openTodoEditor(todo.id)"
                    for="todo{{todo.id}}">{{ todo.text }}</label>
                <span ng-click="removeTodo(todo.id)" class="todo-remover">&times;</span>
            </li>
        </ul>
    </div>
    <div id="todo-editor-container">
        <div id="todo-editor">
            <h3>Edit TODO</h3>
            <input type="text" ng-model="editTargetTodo" id="new-todo-text">
            <button class="todo-editor-closer" ng-click="closeTodoEditor()">Cancel</button>
            <button class="todo-editor-saver" ng-click="editTodo(targetTodoId)">Save</button>
        </div>
    </div>
</div>